  *,
*::before,
*::after {
  box-sizing: border-box;
}
:root{
  --primary: rgb(100, 100, 170);
  --background: rgb(18, 18, 168);
}

.container{
  margin: 20px auto;
  width: 100%;
} 
  



body{
    background-color: gainsboro;
    padding: 0;
    margin: 0; 
    /* display: flex; */
     width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  } 



h1{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--background);
    background-image:linear-gradient(var(--background), var(--primary));
    padding: 10px;
    color: white


}
.card{
  display: inline-block;
  text-align: left;
  justify-content: left;
  margin-left: 5px;

}
input{
  border-radius: 10px;
 } 
 .btn{
   display:flex;
   margin-top: 20px;
   background-color: skyblue;
   margin-bottom: 10px;
 }